<H1>NEWS:</H1>
<div>
  <div><b>current release:</b> <%= link_to "public beta", "http://www.sendspace.com/file/14yity" %></div>
  <div><b>final release:</b> December 10th 2011</div>
</div>

<% @news.each do |news| %>
  <div class="frontend_narrow_div">
    <span class="frontend_title"><%= news.title %></span>
    <br />
    <span class="frontend_author"><%= news.user.nick %> <%= news.created_at.strftime("%d-%b-%Y (%H:%M)") %></span>
    <br/>
    <div class="frontend_content">
      <%= raw news.content %>
    </div>
  </div>
<% end %>
