<style type="text/css">
img.left { width: 320px; }
img.right { width: 320px; margin-left:1px; }
img.center { width: 646px; }
</style>

<H1>DTWiD RELEASED!</H1>
<div class="frontend_wide_div">
  <span class="frontend_title">Official version 1.0</span>
  <br/>
  <div class="frontend_content">
    <div style="width:100%; text-align:center; font-size:16px; font-weight:bold; margin-bottom:10px">
      <%= link_to "DOWNLOAD NOW", "https://s3-eu-west-1.amazonaws.com/dtwid/DTWID.zip" %>
    </div>
    <div style="width:100%; text-align:center; margin-bottom:30px;">
      <%= link_to "Download additional music by Mr. Freeze", "https://s3-eu-west-1.amazonaws.com/dtwid/dtwidmus.zip" %>
    </div>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;After more than a year of hard work, countless compromises and those few rare moments, when we actually all agreed on stuff. We present to you <span style="color:#7882C8">Doom The Way id Did</span>, a <i>Doom</i> / <i>the Ultimate Doom</i> megawad, designed to be completely playable and bug free even in 1.9 vanilla (<i>gotta be prepared in case you go back in time!</i>) version of the original game.
    </p>

    <%= image_tag 'http://i.imgur.com/uzaLk.jpg', :class => "center" %>

    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;The idea behind this project was to imagine that the original <i>Doom</i> had more maps before the release, but they were lost. The mappers tried to simulate the work of John Romero, Sandy Petersen, Tom Hall and achieve that authentic <i>id-feeling</i> in their maps.
    </p>

    <%= image_tag 'http://i.imgur.com/AtBK7.png', :class => "left" %>
    <%= image_tag 'http://i.imgur.com/7MDEo.png', :class => "right" %>
    <br />
    <%= image_tag 'http://i.imgur.com/PEsge.png', :class => "left" %>
    <%= image_tag 'http://i.imgur.com/GVBR3.png', :class => "right" %>
    <br />
    <%= image_tag 'http://i.imgur.com/vs6Ha.png', :class => "left" %>
    <%= image_tag 'http://i.imgur.com/YUx43.png', :class => "right" %>
    <br />
  </div>
</div>
