<h1>Listing Unregistered Map Authors</h1>

<table>
  <tr>
    <th>Nick</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @map_authors.each do |map_author| %>
  <tr>
    <td><%= map_author.nick %></td>
    <td><%= link_to 'Show', [:admin, map_author] %></td>
    <td><%= link_to 'Edit', edit_admin_map_author_path(map_author) %></td>
    <td><%= link_to 'Destroy', [:admin, map_author], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Map author', new_admin_map_author_path %>
