<h1>Listing map_slots</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @map_slots.each do |map_slot| %>
  <tr>
    <td><%= map_slot.name %></td>
    <td><%= link_to 'Show', map_slot %></td>
    <td><%= link_to 'Edit', edit_map_slot_path(map_slot) %></td>
    <td><%= link_to 'Destroy', map_slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Map slot', new_map_slot_path %>
