<%= include_tiny_mce_if_needed %>

<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for @submission do |f| %>
    <%= f.input :name, :placeholder => "Name of your map", :input_html => { :style => "width:295px"} %>
    <%= f.association :privacy_level, :include_blank => false %>
    <% if current_user.admin? %>
      <%= f.association :map_author, :collection => MapAuthor.all(:order => 'nick'), :label_method => :info, :include_blank => false, :required => true, :input_html => {:selected => current_user.map_author} %>
    <% end %>
    <fieldset>
      <legend>Which mapslot is the map currently played on?</legend>
      <%= f.association :map_episode, :include_blank => false, :label => false %>
      <%= f.association :map_slot, :collection => MapSlot.find_all_by_playable(true, :order => :id), :order => :id, :include_blank => false, :label => false %>
    </fieldset>
    <fieldset>
      <legend>Which maplsot do you wish this map would occupy in the project?</legend>
      <%= f.association :intended_map_episode, :include_blank => false, :label => false %>
      <%= f.association :intended_map_slot, :collection => MapSlot.all(:order => :id), :include_blank => false, :label => false %>
    </fieldset>
    <%= f.input :author_comment, :as => :text, :input_html => {:class => "mceEditor", :rows => 10, :cols => 40 } %>
    <%= f.input :link, :as => :url, :required => true, :placeholder => "http://your_awesome_map.wad_or_zip" %>
    
    <fieldset>
    <legend>Include image links</legend>
      <% f.simple_fields_for :images do |sil| %>
        <%= render 'image_fields', :f => sil %>        
      <% end %>
    <p><%= link_to_add_fields "Add Link", f, :images %></p>
    </fieldset>
    <%= f.button :submit, :class => "submit_button" %>
  <% end %>
<% end %>
