<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= simple_form_for @submission do |f| %>
    <%= f.input :name, :required => true, :input_html => {:value => "Unnamed Map", :style => "width:295px"} %>
    <% if current_user.admin? %>
      <%= f.association :map_author, :collection => MapAuthor.all(:order => 'nick'), :label_method => :nick, :include_blank => false, :required => true, :selected => current_user.map_author %>
    <% end %>
    <fieldset>
      <legend>Which mapslot is the map currently played on?</legend>
      <%= f.association :map_episode, :include_blank => false %>
      <%= f.association :map_slot, :collection => MapSlot.find_all_by_playable(true), :include_blank => false %>
    </fieldset>
    <fieldset>
      <legend>Which maplsot do you wish this map would occupy in the project?</legend>
      <%= f.association :intended_map_episode, :include_blank => false %>
      <%= f.association :intended_map_slot, :include_blank => false %>
    </fieldset>
    <%= f.input :link, :as => :url, :required => true %>
    <%= f.button :submit, :class => "submit_button" %>
  <% end %>
<% end %>
