<h1>Editing submission</h1>

[ <%= link_to 'Show', @submission %> | <%= link_to 'Back', submissions_path %> ]

<%= render 'form' %>

[ <%= link_to 'Show', @submission %> | <%= link_to 'Back', submissions_path %> ]
