<h1>Listing submissions</h1>

<table>
  <tr>
    <th><%= sort_link 'Name', :name %></th>
    <th><%= sort_link 'Map', :map_episode_id, :map_slot_id %></th>
    <th><%= sort_link 'Slot', :map_slot_id %></th>
    <th><%= sort_link 'Author', "map_authors.nick" %></th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submissions.each do |submission| %>
  <tr>
    <td><%= submission.name %></td>
    <td><%= submission.map_episode.name %></td>
    <td><%= submission.map_slot.name %></td>
    <td><%= submission.map_author.nick %></td>
    <td><%= link_to 'Download', submission.link %></td>
    <td><%= link_to 'Show', submission %></td>
    <% if can? :update, submission %>
      <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
    <% end %>
    <% if can? :destroy, submission %>
      <td><%= link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission', new_submission_path %>
