<h1>Listing submissions</h1>

<%= link_to 'New Submission', new_submission_path %>

<table style="margin-top:20px; margin-bottom:30px;">
  <tr>
    <th></th>
    <th><%= sort_link 'Name', :name %></th>
    <th><%= sort_link 'Playing MapSlot', :map_episode_id, :map_slot_id %></th>
    <th><%= sort_link 'Intended MapSlot', :intended_map_episode_id, :intended_map_slot_id %></th>
    <th><%= sort_link 'Author', "map_authors.nick", "submissions.created_at" %></th>
    <th><%= sort_link 'Last Link Update', "submissions.link_updated_at" %></th>
    <th><%= sort_link 'Last Update', "submissions.updated_at" %></th>    
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submissions.each_with_index do |submission, index| %>
  <%= content_tag :tr,
      :class => (((index%2 == 1) ? 'odd_row ' : 'even_row ') + submission.get_css_row_style ) do %>
    <td><%= index+1 %></td>
    <td><%= submission.name %></td>
    <td><%= "E#{submission.map_episode.id}#{submission.map_slot.name}" %></td>
    <td><%= "E#{submission.intended_map_episode.id}#{submission.intended_map_slot.name}" %></td>
    <td><%= submission.map_author.nick %></td>
    <td>
      <div style="margin:0px; width:90px; text-align:center;">
        <%= submission.link_updated_at.strftime("%d-%b-%Y\n(%H:%M)") %>
      </div>
    </td>
    <td>
      <div style="margin:0px; width:90px; text-align:center;">
        <%= submission.updated_at.strftime("%d-%b-%Y\n(%H:%M)") %>
      </div>
    </td>      
    <td><%= link_to (image_tag 'download-icon.png'), submission.link, :title => "Download file from submitted link" %></td>
    <td><%= link_to (image_tag 'show-icon.png'), submission, :title => "Show submission details" %></td>
    <% if can? :update, submission %>
      <td>
        <%= link_to (image_tag 'edit-icon.png'), edit_submission_path(submission), :title => "Edit submission" %>
      </td>
    <% end %>
    <% if can? :destroy, submission %>
      <td>
        <%= link_to((image_tag 'delete-icon.png'), submission,
          :title => "Delete submission", :confirm => 'Are you sure?', :method => :delete) %>
      </td>
    <% end %>
  <% end %>
<% end %>
</table>

<%= link_to 'New Submission', new_submission_path %>
