<style type="text/css">
  .submissions-filter-fieldset {
    width: 650px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;;
  }
</style>

<h1>Listing submissions</h1>

<div style="margin-top:10px; margin-bottom:30px;">
  <%= form_tag search_submissions_path, :method => :get do %>
    <%= text_field "search", "s", :value => params[:s] %>
    <%= hidden_field "search", "c", :value => params[:c] %>
    <%= hidden_field "search", "c2", :value => params[:c2] %>
    <%= hidden_field "search", "d", :value => params[:d] %>
    <br />

    <!-- EPSIODE FILTER -->
    <fieldset class="submissions-filter-fieldset">
      <legend>episode filter</legend>
      <span>
        <%= radio_button "search", "e", "",
          {:checked => (params[:e].nil? ? "checked" : "") } %>
        <b>All</b>
      </span>
      |
      <span>
        <%= radio_button "search", "e", "1",
          {:checked => (params[:e]=="1" ? "checked" : "") } %>
        <span class="kditd_row search_radio_box_span">Knee-Deep in the Dead</span>
      </span>
      |
      <span>
        <%= radio_button "search", "e", "2",
          {:checked => (params[:e]=="2" ? "checked" : "") } %>
        <span class="tsoh_row search_radio_box_span">The Shores of Hell</span>
      </span>
      |
      <span>
        <%= radio_button "search", "e", "3",
          {:checked => (params[:e]=="3" ? "checked" : "") } %>
        <span class="inferno_row search_radio_box_span">Inferno</span>
      <span>
      |
      <span>
        <%= radio_button "search", "e", "4",
          {:checked => (params[:e]=="4" ? "checked" : "") } %>
        <span class="tfc_row search_radio_box_span">Thy Flesh Consumed</span>
      </span>
    </fieldset>
    <!-- end of EPISODE FILTER -->

    <!-- VOTED FILTER -->
    <% if user_signed_in? %>
      <fieldset class="submissions-filter-fieldset">
        <legend>filter by votes</legend>
        <%= hidden_field "search", "u", :value => current_user.id %>
        <span>
          <%= radio_button "search", "v", "",
            {:checked => (params[:v].nil? ? "checked" : "") } %>
          <b>All</b>
        </span>
        |
        <span>
          <%= radio_button "search", "v", "yes",
            {:checked => (params[:v]=="yes" ? "checked" : "") } %>
          <span>voted</span>
        </span>
        |
        <span>
          <%= radio_button "search", "v", "no",
            {:checked => (params[:v]=="no" ? "checked" : "") } %>
          <span>not voted</span>
        </span>
      </fieldset>
    <% end %>
    <!-- end of VOTED FILTER -->

    <%= button_to "search", "submit_search" %>
    
  <% end %>
</div>

<%= link_to 'New Submission', new_submission_path %>

<table style="margin-top:20px; margin-bottom:30px;">
  <tr>
    <th></th>
    <th><%= sort_link 'Name', :name %></th>
    <th><%= sort_link 'Playing MapSlot', :map_episode_id, :map_slot_id %></th>
    <th><%= sort_link 'Intended MapSlot', :intended_map_episode_id, :intended_map_slot_id %></th>
    <th><%= sort_link 'Author', "map_authors.nick", "submissions.created_at" %></th>
    <!--<th><%#= sort_link 'Last Link Update', "submissions.link_updated_at" %></th>-->
    <th><%= sort_link 'Last Update', "submissions.updated_at" %></th>
    <th><%= sort_link 'Cmt', :comment_count %></th>
    <th><%= sort_link 'Img', :image_count %></th>
    <% if user_signed_in? and current_user.team %>
      <th>Voted</th>
      <th><%= sort_link 'Aye', :aye_votes %></th>
      <th><%= sort_link 'Nay', :nay_votes %></th>
    <% end %>
    <th>Link</th>
    <th>Edit</th>
    <th>Kill</th>
  </tr>

<% @submissions.each_with_index do |submission, index| %>
  <%= content_tag :tr,
      :class => (((index%2 == 1) ? 'odd_row ' : 'even_row ') + submission.get_css_row_style ) do %>
    <td><%= index+1 %></td>
    <td><%= link_to submission.name, submission, {:class => submission.get_css_row_style } %></td>
    <td><%= "E#{submission.map_episode.id}#{submission.map_slot.name}" %></td>
    <td><%= "E#{submission.intended_map_episode.id}#{submission.intended_map_slot.name}" %></td>
    <td><%= submission.map_author.nick %></td>
    <!--<td>
      <div style="margin:0px; width:90px; text-align:center;">
        <%#= submission.link_updated_at.strftime("%d-%b-%Y\n(%H:%M)") %>
      </div>
    </td>-->
    <td>
      <div style="margin:0px; width:90px; text-align:center;">
        <%= submission.updated_at.strftime("%d-%b-%Y\n(%H:%M)") %>
      </div>
    </td>
    <td>
      <% if submission.comments.size > 0 %>
        <div style="width:100%; text-align:center;"><%= submission.comment_count %></div>
      <% end %>
    </td>  
    <td>
      <% if submission.images.size > 0 %>
        <div style="width:100%; text-align:center;"><%= submission.image_count %></div>
      <% end %>
    </td>
    <% if user_signed_in? and current_user.team %>
      <td>
        <div style="text-align:center;">
        <% if current_user.can_vote_on_map?(submission.id) %>
          <%= image_tag('not_voted.png') %>
        <% else %>
          <%= current_user.voted_positive?(submission.id) ? image_tag('ayed.png') : image_tag('nayed.png') %>
        <% end %>
        </div>
      </td>
      <td>
        <div style="color:green; text-align:center;"><%= submission.aye_votes %></div>
      </td>
      <td>
        <div style="color:red; text-align:center;"><%= submission.nay_votes %></div>
      </td>
    <% end %>
    <td>
      <% unless submission.can_download?(current_user) %>
        <%= image_tag 'download-icon-off.png',:title => "Access denied.\nPrivacy level: #{submission.privacy_level.name}" %>
      <% else %>
        <%= link_to (image_tag 'download-icon.png'), submission.link, :title => "Download file from submitted link" %>
      <% end %>
    </td>
    <% if can? :update, submission %>
      <td>
        <%= link_to (image_tag 'edit-icon.png'), edit_submission_path(submission), :title => "Edit submission" %>
      </td>
    <% end %>
    <% if can? :destroy, submission %>
      <td>
        <%= link_to((image_tag 'delete-icon.png'), submission,
          :title => "Delete submission", :confirm => 'Are you sure?', :method => :delete) %>
      </td>
    <% end %>
  <% end %>
<% end %>
</table>

<%= link_to 'New Submission', new_submission_path %>
