<h1>Listing submissions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Episode</th>
    <th>Slot</th>
    <th>Author</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submissions.each do |submission| %>
  <tr>
    <td><%= submission.name %></td>
    <td><%= submission.map_episode.name %></td>
    <td><%= submission.map_slot.name %></td>
    <td><%= submission.user.email %></td>
    <td><%= link_to 'Download', submission.link %></td>
    <td><%= link_to 'Show', submission %></td>
    <% if can? :update, submission %>
      <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
    <% end %>
    <% if can? :destroy, submission %>
      <td><%= link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission', new_submission_path %>
