<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @gallery_image.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @gallery_image.title %>
</p>

<p>
  <b>Image url:</b>
  <%= @gallery_image.image_url %>
</p>


<%= link_to 'Edit', edit_admin_gallery_image_path(@gallery_image) %> |
<%= link_to 'Back', admin_gallery_images_path %>
