<h1>Listing users</h1>

<table>
  <tr>
    <th>Nick</th>
    <th>Email</th>
    <th>Role</th>
    <th>Submissions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nick %></td>
    <td><%= user.email %></td>
    <td><%= user.user_role.name %></td>
    <td><%= user.map_author.submissions.count %></td>
    <td><%= link_to 'Show', [:admin, user] %></td>
    <% if can? :update, user %>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Map Author', new_admin_map_authors_path %>
