<!DOCTYPE html>
<html>
  <head>
    <title>Dtwid</title>
    <%= stylesheet_link_tag "scaffold.css", "frontend.css", "list_1.css", "simple_form_1.css" %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
  <div style="width:960px">
  <div id="header">
    <% if user_signed_in? %>
      [ signed in as
      <%= content_tag :span, :style => "color: #78C878;" do %>
        <%= current_user.nick %>
      <% end %>
      | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> ]
    <% else %>
      [ Not logged in. | 
      <%= link_to "Sign in", new_user_session_path %> |
      <%= link_to "Sign up", new_user_registration_path %> ]
    <% end %>
  </div>

  <div id="main">
    <div id="left-menu">
      <%= image_tag "doom_small.png" %>
      <br/>
      <ul>
        <li><%= link_to "News", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "View submissions", submissions_path %></li>
      </ul>
      <% if user_signed_in? and current_user.admin? %>
        <div style="margin-left:30px; font-weight:bold">Admin stuff:</div>
        <ul>
          <li><%= link_to "Admin / News", admin_news_index_path %></li>
        </ul>
        <% if current_user.superadmin? %>
          <div style="margin-left:30px; font-weight:bold">Superadmin stuff:</div>
          <ul>
            <li><%= link_to "Admin / Users", admin_users_path %></li>
            <li><%= link_to "Admin / MapAuthors", admin_map_authors_path %></li>
          </ul>
        <% end %>          
      <% end %>
    </div>
    <div id="content-border">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
