<!DOCTYPE html>
<html>
  <head>
    <title>Dtwid</title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "scaffold.css", "frontend.css", "list_1.css", "simple_form_1.css" %>
  </head>
  <body>
  <div style="width:960px">
  <div id="header">
    <% if user_signed_in? %>
      [ signed in as
      <%= content_tag :span, :style => "color: #78C878;" do %>
        <%= current_user.nick %>
      <% end %>
      | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> ]
    <% else %>
      [ Not logged in. | 
      <%= link_to "Sign in", new_user_session_path %> |
      <%= link_to "Sign up", new_user_registration_path %> ]
    <% end %>
  </div>

  <div id="main">
    <div id="left-menu">
      <%= image_tag "doom_small_monaco.png" %>
      <br/>
      <ul>
        <li><%= link_to "View submissions", submissions_path %></li>
        <% if user_signed_in? and current_user.superadmin? %>
          <li><%= link_to "Users", admin_users_path %></li>
          <li><%= link_to "Back to main", root_path %></li>
        <% end %>
      </ul>
    </div>
    <div id="content-border">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </div>
  


  
<div>


    
    
    <br />
    
  </body>
</html>
